.SkeletonMovieItem {
  flex: 1;
  cursor: pointer;
  aspect-ratio: 2/3;

  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.5) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  background-size: 200% 100%;
}
