.section {
  margin: 50px 0;
  h3 {
    margin: 10px 0;
  }
}

.list {
  display: grid;
  gap: 20px;
}

.recommendedMovies {
  grid-template-columns: repeat(3, 1fr);
  @extend .list;
}

.movielist {
  grid-template-columns: repeat(5, 1fr);
  @extend .list;
}
