.commentContainer {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  padding-bottom: 30px;
  gap: 20px;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.author {
  font-size: 16px;

  font-weight: bold;
}

.date {
  grid-column: 2;
  opacity: 0.5;
  font-size: 0.8rem;
}

.content {
  font-size: 14px;
  grid-column: 1 / -1; /* 전체 너비를 차지 */
}

.deleteItem {
  color: rgba(255, 255, 255, 0.3);
  text-decoration: underline;
  background: transparent;
  cursor: pointer;
  opacity: 0.6;
  &:hover {
    color: lighten(#ffffff, 30%);
  }
}
